body{
	 font-family: 'Merienda';font-size: 15px;
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family:Times New Roman;
}
ul.hobbies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.hobbies li:hover {
  display: inline-block;
  height: 150px;
  position: relative;
  width: 150px;
}

.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active:hover{
	background-color: grey!important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}


.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}


.social-icon{
	font-size:28; 
}

}
.social-links {
	margin-top: 15px;
}


.social-links span {
	display: inline-block;
	width: 36px;
	height: 24px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;	
}

.youtube {
	background-image: url(youtube.png);
	cursor:pointer;
	
}

.twitter {
	background-image: url(twitter.png);
	cursor:pointer;
}

.facebook {
	background-image: url(facebook.png);
	cursor:pointer;
}

.linkedin {
	background-image: url(linkedin.png);
	cursor:pointer;
}

.instagram{
	background-image: url(instagram.png);
	cursor:pointer;
}










